<div class="background-detail-flight">
  <div class="row col-12">
    <div class="col-6 p-5">
      <div class="f-20 bold pb-3">Choose more services</div>
      <div>Instantly add more convenience to travel</div>
    </div>
    <div class="col-6 py-3">
      <mat-card class="p-3"
        ><div class="border-bottom pb-2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis,
          consequatur labore eveniet asperiores fuga placeat obcaecati delectus
          natus esse quibusdam a harum quam quasi tempora, laudantium ipsa iure
          eligendi veniam!
        </div>

        <div class="col-12 d-flex justify-content-space-between py-1">
          <div class="col text-align-start">
            <mat-radio-button> </mat-radio-button>
          </div>
          <div class="col text-align-end f-18 align-self-center bold">
            {{ price | number : "1.2-2" }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
