.background-detail-flight {
    background-color: lightgrey;
    border-radius: 4px;
}



.background-detail-flight mat-card.danger {
  background-color: var(--danger50);
}

.background-detail-flight mat-card.warning {
  background-color: var(--nokair50);
}

.background-detail-flight mat-card.info {
  background-color: var(--info50);
}

mat-icon {
    width: 24px !important;
}

