<div class="container-fluid">
  <div class="px-2">
    <div class="py-3">
      <app-step></app-step>
    </div>
    <div class="py-3">
      <div class="row py-4">
        <div class="col-1">
          <span>
            <img
              class="image"
              src="../../../assets/image/airplane.png"
              alt=""
            />
          </span>
        </div>
        <div class="col-11">
          <h2>Depart</h2>
          <div>{{ saveValue.journeys[0].origin }}</div>
        </div>
      </div>
      <div><app-schedule></app-schedule></div>
      <div class="row py-4">
        <div class="col-1">
          <span>
            <img
              class="image"
              src="../../../assets/image/airplane.png"
              alt=""
            />
          </span>
        </div>
        <div class="col-11">
          <h2>Return</h2>
          <div>{{ saveValue.journeys[0].destination }}</div>
        </div>
      </div>
      <div><app-schedule></app-schedule></div>
    </div>
    <div class="py-5">
      <div class="py-2 f-12">
        Please note that the final price will be displayed on the last step of
        the booking process. The fuel cost fluctuation (included in price).
      </div>
      <div class="py-2 f-12">
        For “Muti-city” booking which involved flight connections, do ensure
        sufficient time for aircraft changes. A minimum of 2 hours for domestic
        on to domestic and 3 hours for International inbound and outbound
        connections.
      </div>
      <div class="py-2 f-12">
        <strong>International route</strong>: Passenger who hold only one-way
        ticket may be denied entry at the destination. Please ensure you are in
        compliance with the entry requirements and regulations at your
        destination before payment.
      </div>
    </div>
  </div>
</div>
