<div class="container-fluid container-max-width">
  <div class="px-2">
    <div class="py-3">
      <app-step></app-step>
    </div>
    <div class="py-3">
      <div>
        <div class="py-4 d-flex">
          <div class="align-self-center px-3">
            <img
              class="image"
              src="../../../assets/image/airplane.png"
              alt=""
            />
          </div>
          <div>
            <div class="bold f-24 py-2">Depart</div>
            <div class="bold">
              {{ route.origin || "" }} To {{ route.destination || "" }}
            </div>
          </div>
        </div>
      </div>
      <div><app-schedule></app-schedule></div>
      <div>
        <div class="py-4 d-flex">
          <div class="align-self-center px-3">
            <img
              class="image"
              src="../../../assets/image/airplane.png"
              alt=""
            />
          </div>
          <div>
            <div class="bold f-24 py-2">Return</div>
            <div class="bold">
              {{ route.destination || "" }} To {{ route.origin || "" }}
            </div>
          </div>
        </div>
      </div>
      <div><app-schedule></app-schedule></div>
    </div>
    <div class="container-fluid">
      <div class="pb-5 f-14">
        <div class="py-2">
          Please note that the final price will be displayed on the last step of
          the booking process. The fuel cost fluctuation (included in price).
        </div>
        <div class="py-2">
          For “Muti-city” booking which involved flight connections, do ensure
          sufficient time for aircraft changes. A minimum of 2 hours for
          domestic on to domestic and 3 hours for International inbound and
          outbound connections.
        </div>
        <div class="py-2">
          <strong>International route</strong>: Passenger who hold only one-way
          ticket may be denied entry at the destination. Please ensure you are
          in compliance with the entry requirements and regulations at your
          destination before payment.
        </div>
        <div class="col-12 d-flex justify-content-space-between py-2">
          <div class="col text-align-start">
            <button
              mat-button
              (click)="redirectPrevious()"
              class="large-button"
            >
              <u>Previous</u>
            </button>
          </div>
          <div class="col text-align-end">
            <button
              mat-raised-button
              (click)="redirectNext()"
              class="large-button"
              color="accent"
            >
              <span>Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
