mat-card {
    background-color: var(--nokair);
    padding: 1rem;
    border-radius: 4px;
}

mat-button-toggle-group {
    border-color: var(--nokair);
}

mat-button-toggle {
    padding-left: 5px;
    padding-right: 5px;
}

.custom-mat-form-field {
  width: 100%; 
}

.row > * {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.select-currency {
    padding-left: 30px;
}

.custom-mat-form-field-container {
  position: relative; 
}

.custom-dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 120%; 
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  border-radius: 4px;
  z-index: 1000; 
}

.passenger-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .custom-dropdown {
      width: 100%; 
    }
}

.icon {
  background-color: var(--nokair);
  border-radius: 4px;
  padding: 8px;
  display: inline;
  vertical-align: middle;
}

.text-red {
  color: var(--danger);
}







