<mat-card class="mx-5">
  <div class="d-flex justify-content-space-between">
    <div>
      <mat-button-toggle-group>
        <mat-button-toggle value="red">Round Trip</mat-button-toggle>
        <mat-button-toggle value="green">One Way</mat-button-toggle>
        <mat-button-toggle value="blue">Multi-city</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select value="option1">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row col-12 pt-4">
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
  </div>
  <div class="pt-2">
    <section>
      <mat-checkbox>Check me!</mat-checkbox>
    </section>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-raised-button (click)="redirectToSelect()">
      <span class="px-3">Search</span>
    </button>
  </div>
</mat-card>
