<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
  <mat-card class="mx-2">
    <div>
      <div class="row">
        <div
          class="col-12 col-lg-4 col-md-12 d-flex justify-content-space-between"
        >
          <div>
            <mat-button-toggle-group (change)="onToggleChange($event)">
              <mat-button-toggle value="0">Round Trip</mat-button-toggle>
              <mat-button-toggle value="1">One Way</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12"></div>
        <div
          class="col-12 col-lg-2 col-md-12 d-flex justify-content-space-between py-2"
        >
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Currency</mat-label>
            <mat-select value="option1">
              <mat-option value="option1">Thai - Baht</mat-option>
              <mat-option value="option2">US - Dollar</mat-option>
              <mat-option value="option3">China - Yuan</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-lg-5"
        [class.row-cols-lg-6]="selectedToggleValue != 1"
      >
        <div class="col py-2">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>From</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of airport" [value]="item.code"
                >{{ item.name }} ({{ item.code }})</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col py-2">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>To</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of airport" [value]="item.code"
                >{{ item.name }} ({{ item.code }})</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col py-2">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Depart</mat-label>
            <input matInput [matDatepicker]="picker" readonly />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col py-2" *ngIf="selectedToggleValue != 1">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Return</mat-label>
            <input matInput [matDatepicker]="picker" readonly />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col py-2 custom-mat-form-field-container">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Select Passengers</mat-label>
            <input
              matInput
              placeholder=""
              [value]="selectionDisplay"
              readonly
            />
            <mat-icon matSuffix (click)="toggleDropdown($event)"
              >arrow_drop_down</mat-icon
            >
          </mat-form-field>
          <div class="custom-dropdown" *ngIf="showDropdown">
            <mat-nav-list>
              <div
                *ngFor="let category of ['adult', 'child', 'infant']"
                class="passenger-selection p-2"
              >
                <div>{{ category | titlecase }}</div>
                <div>
                  <button
                    mat-mini-fab
                    (click)="decreaseCount(category, $event)"
                  >
                    -
                  </button>
                  <span class="px-2">{{ getSelectionCount(category) }}</span>
                  <button
                    mat-mini-fab
                    (click)="increaseCount(category, $event)"
                  >
                    +
                  </button>
                </div>
              </div>
            </mat-nav-list>
          </div>
        </div>
        <div class="col py-2">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Promo Code</mat-label>
            <input
              matInput
              placeholder=""
              value=""
              formControlName="promoCode"
              id="promoCode"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end py-1">
      <button mat-raised-button>
        <span class="px-3">Search</span>
      </button>
    </div>
  </mat-card>
</form>
