<form [formGroup]="bookingForm">
  <mat-card class="no-select">
    <div>
      <div class="row align-items-center px-1">
        <div
          class="col-12 col-lg-4 col-md-12 d-flex justify-content-space-between"
        >
          <div>
            <mat-button-toggle-group
              (change)="onToggleChange($event)"
              formControlName="typeRoute"
            >
              <mat-button-toggle [value]="0">Round Trip</mat-button-toggle>
              <mat-button-toggle [value]="1">One Way</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12"></div>
        <div
          class="col-12 col-lg-2 col-md-6 d-flex justify-content-space-between py-2"
        >
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Currency</mat-label>
            <mat-select value="THB" formControlName="currency" id="currency">
              <mat-option value="THB">Thai - Baht</mat-option>
              <mat-option value="USD">US - Dollar</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-lg-5 px-1"
        [class.row-cols-lg-6]="selectedToggleValue != 1"
      >
        <div class="col py-2">
          <div formArrayName="journeys">
            <div
              *ngFor="let journey of journeysArray.controls; let i = index"
              [formGroupName]="i"
            >
              <mat-form-field appearance="fill" class="custom-mat-form-field">
                <mat-label>From</mat-label>
                <input
                  matInput
                  [matAutocomplete]="auto"
                  formControlName="originName"
                />
                <mat-autocomplete
                  [panelWidth]="352"
                  #auto="matAutocomplete"
                  (optionSelected)="onOptionSelected($event, i, 0)"
                >
                  <mat-option
                    *ngFor="let option of filteredAirports[i] | async"
                    [value]="option"
                  >
                    {{ option.name }} ({{ option.code }})
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col py-2">
          <div formArrayName="journeys">
            <div
              *ngFor="let journey of journeysArray.controls; let i = index"
              [formGroupName]="i"
            >
              <mat-form-field appearance="fill" class="custom-mat-form-field">
                <mat-label>To</mat-label>
                <input
                  matInput
                  [matAutocomplete]="autoDestination"
                  formControlName="destinationName"
                />
                <mat-autocomplete
                  [panelWidth]="352"
                  #autoDestination="matAutocomplete"
                  (optionSelected)="onOptionSelected($event, i, 1)"
                >
                  <mat-option
                    *ngFor="let option of filteredDestinations[i] | async"
                    [value]="option"
                  >
                    {{ option.name }} ({{ option.code }})
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col py-2" formArrayName="journeys">
          <div
            *ngFor="let journey of journeysArray.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field appearance="fill" class="custom-mat-form-field">
              <mat-label>Depart</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                readonly
                formControlName="departureDate"
                id="departureDate"
                [min]="minDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div
          class="col py-2"
          *ngIf="selectedToggleValue != 1"
          formArrayName="journeys"
        >
          <div
            *ngFor="let journey of journeysArray.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field appearance="fill" class="custom-mat-form-field">
              <mat-label>Return</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                readonly
                formControlName="returnDate"
                id="returnDate"
                [min]="minReturnDate[i]"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col py-2 custom-mat-form-field-container">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Select Passengers</mat-label>
            <input
              matInput
              readonly
              [value]="selectionDisplay"
              (click)="toggleDropdown($event)"
            />
            <div *ngIf="!isValidAdultCount()" class="text-red f-12">
              At least one adult must be selected.
            </div>
            <div *ngIf="!isValidInfantCount()" class="text-red f-12">
              The number of infants cannot exceed the number of adults.
            </div>
          </mat-form-field>

          <div class="custom-dropdown" *ngIf="showDropdown">
            <mat-nav-list>
              <div
                *ngFor="let category of ['adult', 'child', 'infant']"
                class="passenger-selection p-2"
              >
                <div>{{ category | titlecase }}</div>
                <div>
                  <span
                    class="cursor icon"
                    (click)="updateCount(category, false, $event)"
                  >
                    <mat-icon matSuffix>remove</mat-icon>
                  </span>
                  <span class="px-2">{{ selections[category] }}</span>
                  <span
                    class="cursor icon"
                    (click)="updateCount(category, true, $event)"
                  >
                    <mat-icon matSuffix>add</mat-icon>
                  </span>
                </div>
              </div>
            </mat-nav-list>
          </div>
        </div>
        <div class="col py-2">
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Promo Code</mat-label>
            <input
              matInput
              placeholder=""
              value=""
              formControlName="promoCode"
              id="promoCode"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-end py-2 px-4 text-align-end">
        <button mat-raised-button (click)="onSubmit()" class="large-button">
          <span>Search</span>
        </button>
      </div>
    </div>
  </mat-card>
</form>
