
.logo img {
  max-width: 150px; 
  height: auto;
}

.container-display-header {
 padding-right: 16px;
}

.highlighted {
  background-color: var(--nokair50);
}


mat-expansion-panel-header {
  background-color: var(--nokair) !important;
  border-radius: 0px !important;
  height: 75px;
}

mat-accordion mat-expansion-panel{
    border-radius: 0px !important;
}

