<div class="background-nokair top-header">
  <div class="logo cursor">
    <a href=""
      ><img
        src="https://images.prismic.io/nokair-ezycommerce/166f2a16-33ac-46e3-9d80-ae0fd1b97940_Nok_Air-Logo.png?auto=compress,format"
        alt=""
        title="Nok Air"
    /></a>
  </div>
  <div class="language-selector">
    <div class="dropdown">
      <a
        class="btn dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">1</a></li>
        <li><a class="dropdown-item" href="#">2</a></li>
        <li><a class="dropdown-item" href="#">3</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="border-header background-nokair top-header"></div>
