<div class="row p-0">
  <div class="col col-12 d-flex align-items-center">
    <div class="col col-12">
      <mat-tab-group
        mat-align-tabs="center"
        (selectedTabChange)="onTabChange($event)"
        [selectedIndex]="defaultTabIndex"
        mat-stretch-tabs
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>arrow_back_ios</mat-icon>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="">
              <div class="f-10 py-1">Wed 28 Feb</div>
              <strong class="f-12">1649.00</strong>
            </div>
          </ng-template>
          <div class="py-5 px-2">
            <app-flight></app-flight></div
        ></mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>arrow_forward_ios</mat-icon>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
