<div class="container-fluid">
  <div class="px-2">
    <div class="py-3">
      <app-step></app-step>
    </div>
    <div class="py-3">
      <div>
        <div>
          <div class="py-4 d-flex">
            <div class="align-self-center px-3">
              <mat-icon class="f-32 f-nokair">person</mat-icon>
            </div>
            <div>
              <div class="bold f-24 py-2">Passenger (s)</div>
              <div class="bold">Passenger detail</div>
            </div>
          </div>
          <div class="px-3">
            <mat-card class="p-3"
              ><div class="row col-12 bold py-1">
                <div class="col-5">Adult</div>
                <div class="col-2">Date of birth</div>
                <div class="col-5">E-mail</div>
              </div>
              <div class="row col-12 py-1">
                <div class="col-5">MR Punnatorn Yimpong</div>
                <div class="col-2">2001-12-13</div>
                <div class="col-5">Punnatorn.Yimnokair.co.th</div>
              </div></mat-card
            >
          </div>
        </div>
        <div>
          <div class="pt-5 pb-4 d-flex">
            <div class="align-self-center px-3">
              <mat-icon class="f-32 f-nokair">credit_card</mat-icon>
            </div>
            <div>
              <div class="bold f-24 py-2">Payment</div>
              <div class="bold">Select payment method</div>
            </div>
          </div>
          <div class="pb-5 px-3">
            Select a payment to complete booking
            <div class="py-4">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>CREDIT CARD INSTALLMENT</mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quod quo nobis cumque enim explicabo quia omnis perferendis
                    quaerat expedita temporibus tempore est, culpa, voluptates
                    asperiores ex quas nulla, blanditiis eligendi?
                  </p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
      <section class="px-3">
        <div class="f-16 bold f-nokair">
          Terms & Conditions | Privacy Policy
        </div>
        <mat-checkbox
          >I certify that I have read, understand and accept the Nok Air’s terms
          and conditions and privacy policy. Nok Air reserves the rights to
          cancel booking and refund payment.</mat-checkbox
        >
      </section>
      <div class="col-12 d-flex justify-content-space-between pt-3">
        <div class="col text-align-start">
          <button mat-button class="px-4 py-3" (click)="redirectPrevious()">
            <u>Previous</u>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
