<div class="container container-max-width">
  <div class="py-4 my-2 text-spacing">
    <div class="center">
      <div><mat-icon class="f-50 color-success">task_alt</mat-icon></div>
      <div class="bold f-32">
        Booking completed. Thank you for flying with Nok Air.
      </div>
      <div class="f-18">
        A confirmation email has been sent to
        <a href="" class="f-black">supot.sukvaree-gmail.com.</a>
      </div>
    </div>
    <mat-card class="py-4 my-4 center background-nokair">
      <div class="f-18">Booking reference:</div>
      <div class="f-black f-32 bold">X5410W / 59920630</div>
    </mat-card>
    <div class="d-flex py-4">
      <div class="align-self-center">
        <img class="image" src="../../../assets/image/airplane.png" alt="" />
      </div>
      <div class="f-32 bold">Flight</div>
    </div>
    <mat-card class="mb-4">
      <mat-card-header>
        <mat-card-title>Flight Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Date: Saturday 30 March 2024</mat-list-item>
          <mat-list-item>From Don Mueang (Bangkok) To Chiang Mai</mat-list-item>
          <mat-list-item>05:30 - 06:40</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-header>
        <mat-card-title>Passengers</mat-card-title>
      </mat-card-header>
      <mat-card-content> MR SUPOT SUKVAREE (Adult) </mat-card-content>
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-header>
        <mat-card-title>Cost Breakdown</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>Airfare Depart (NOK LITE): THB 793.46</div>
        <div>Extra Services: THB 0.00</div>
        <div>Taxes: THB 283.94</div>
        <div><strong>Total: THB 1,077.40</strong></div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-header>
        <mat-card-title>Payments</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>Credit card number: 4********1</div>
        <div>Date: Thursday 14 March 2024 14:08</div>
        <div>Total: THB 1,077.40</div>
      </mat-card-content>
    </mat-card>
    <div class="text-center my-4">
      <button mat-raised-button color="primary">Print Receipt</button>
      <button mat-raised-button color="accent">Manage Booking</button>
    </div>
  </div>
</div>
