<div class="container py-5 container-max-width">
  <app-search></app-search>
  <div class="container py-4 text-spacing">
    <div>
      <u class="f-16 bold">{{ "conditions" | translate }}</u>
    </div>
    <ul>
      <li>{{ "condition-1" | translate }}</li>
      <li>
        {{ "condition-2" | translate }}
      </li>
      <li>{{ "condition-3" | translate }}</li>
      <li>
        {{ "condition-4" | translate }}
      </li>
      <li>
        {{ "condition-5" | translate }}
      </li>
    </ul>
  </div>
</div>
