<div class="container py-5 container-max-width">
  <app-search></app-search>
  <div class="container py-4 text-spacing">
    <div>
      <u class="f-16 bold">{{ "conditions" | translate }}</u>
    </div>
    <ul>
      <li>{{ "installmentPayment" | translate }}</li>
      <li>
        Each issuer bank might provide different credit card point’s condition
        for installment program.
      </li>
      <li>This fee is charged per passenger per flight.</li>
      <li>
        For Connecting Flight, this fee is charged per passenger per booking.
      </li>
      <li>
        NokAir will randomly perform a credit/debit card physical verification
        at check-in counter, IF your online transaction was made from
        credit/debit card which was issued from Bank outside Thailand.Unless
        your credit/debit card was successfully pass process Verified by Visa or
        MasterCard Secure Code or J-Secure or One Time Password from your issued
        bank. Otherwise, Nok Air reserved the rights to deny boarding.
      </li>
    </ul>
  </div>
</div>
