<div class="container pt-4">
  <mat-card
    *ngFor="let item of this.data.airlines; let i = index"
    class="mb-4 text-spacing"
  >
    <mat-card-title class="f-18 bold pt-3">{{ getTitle(i) }}</mat-card-title>
    <mat-card-content>
      <div class="row col d-flex">
        <div class="col-6">
          <div class="py-2 border-bottom-black">
            {{ item.travelInfos[0].originName }} ({{
              item.travelInfos[0].origin
            }}) - {{ item.travelInfos[0].destinationName }} ({{
              item.travelInfos[0].destination
            }})
          </div>
          <div class="py-2 border-bottom-black">
            <div>{{ getBundleName(item.bundleDetails) }}</div>
            <div></div>
          </div>
          <div class="py-2">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="col-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos
          quas qui?
        </div>
        <div class="col-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eius minus
          autem.
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
