<div class="background-nokair">
  <div class="nav">
    <button class="nav-button" disabled="">
      <div class="step-center">
        {{ !this.isSmallScreen ? "Search" : "1" }}
      </div>
    </button>
    <button class="nav-button" disabled="">
      <div class="step-center">
        {{ !this.isSmallScreen ? "Select Flight" : "2" }}
      </div>
    </button>
    <button class="nav-button" disabled="">
      <div class="step-center">
        {{ !this.isSmallScreen ? "Passenger Info" : "3" }}
      </div>
    </button>
    <button class="nav-button" disabled="">
      <div class="step-center">
        {{ !this.isSmallScreen ? "Extra Services" : "4" }}
      </div>
    </button>
    <button class="nav-button" disabled="">
      <div class="step-center">
        {{ !this.isSmallScreen ? "Payment" : "5" }}
      </div>
    </button>
  </div>
</div>
