/* You can add global styles to this file, and also import other style files */
:root {
    --nokair: #FFCB0B;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor {
    cursor: pointer;
}

.background-nokair {
    background-color: var(--nokair);
}