/* You can add global styles to this file, and also import other style files */
:root {
    --nokair: #FFCB0B;
    --nokair50: #ffe68d;
    --nokair25: #fdedb1;
    --black : #111111;
    --gray : #f0f0ef;
    --success : #00C851;
    --danger : #ff4444;
    --danger50 : #ffb0b0;
    --warning :#ffbb33;
    --info : #33b5e5;
    --info50 : #d1f2fd;
    --black50 : #00000026;
    --black25 : #3b3b3b3b;
}

.text-spacing {
  line-height: 1.8;
}

.f-nokair {
    color: var(--nokair);
}

.f-black {
    color: var(--black);
}

.text-red {
  color: var(--danger);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-max-width {
    max-width:1400px
}

.cursor {
    cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.background-nokair {
    background-color: var(--nokair) !important;
}

.background-black {
    background-color: var(--black);
}

.background-white {
    background-color: white;
}

.justify-content-space-between {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: end !important;
}

.justify-content-center {
    justify-content: center !important;
}


.text-align-center {
    text-align: center !important;
}

.text-align-start {
    text-align: start !important;
}

.text-align-end {
    text-align: end !important;
}

.align-self-center {
    align-self: center !important;
}

.align-item-center {
    align-items: center !important;
}

.align-items-end {
    align-items: end !important;
}

.center {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.d-flex {
    display: flex !important;
}

.f-32 {
    font-size: 32px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-10 {
    font-size: 10px !important;
}

.bold {
  font-weight: 500 !important;
}

.thin {
  font-weight: 250 !important;
}

.disabled {
  pointer-events: none ;
  background-color: var(--gray) !important ;
}

.full-width {
    width: 100%;
}

img {
    width: 100%;
}

.large-button {
  padding: 24px 36px !important;
  font-size: 16px;
}

.row {
    padding-left: 0px;
    padding-right: 0px ;
    margin-right: 0px;
    margin-left: 0px;
}

@media (max-width: 576px) {
  .text-responsive {
    font-size: 70%; 
  }
}

.border-top-black {
  border-top: 1px solid var(--black50);
}

.border-right-black {
  border-right: 1px solid var(--black50);
}

.border-left-black {
  border-left: 1px solid var(--black50);
}

.border-bottom-black {
  border-bottom: 1px solid var(--black50);
}

.border-black {
  border: 1px solid var(--black50);
}

.transform45 {
    transform: rotate(60deg);
}

