/* You can add global styles to this file, and also import other style files */
:root {
    --nokair: #FFCB0B;
    --black : #111111;
    --gray : #f0f0ef
}

.f-nokair {
    color: var(--nokair);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-max-width {
    max-width:1400px
}

.cursor {
    cursor: pointer;
}

.background-nokair {
    background-color: var(--nokair);
}

.background-black {
    background-color: var(--black);
}

.justify-content-space-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}

.text-align-end {
    text-align: end;
}

.align-self-center {
    align-self: center;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.d-flex {
    display: flex;
}

.f-32 {
    font-size: 32px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-10 {
    font-size: 10px !important;
}

.bold {
  font-weight: 500 !important;
}

.disabled {
  pointer-events: none ;
  background-color: var(--gray) !important ;
}

.full-width {
    width: 100%;
}

img{
    width: 100%;
}

