<div class="container-fluid background-nokair footer">
  <div class="mt-4 col row text-align-start f-black">
    <div class="col">
      <h3 class="bold">Booking</h3>
    </div>
    <div class="col">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam culpa
      necessitatibus fugiat vitae esse quos enim pariatur magni rem mollitia
      ipsum deserunt deleniti inventore quidem labore odit earum accusamus eaque
      temporibus, assumenda porro dolore, maiores error! Commodi, praesentium?
      Culpa earum modi neque officiis voluptatibus tempora ratione architecto
      rem debitis libero ullam aliquid possimus quis provident, quaerat delectus
      officia deserunt ex repellendus quisquam alias nisi! Totam voluptate qui
      laborum neque voluptatem saepe quaerat quasi accusamus iure, sed
      molestias? Suscipit dignissimos fuga incidunt, vitae, ratione, iure
      eligendi sed assumenda libero aut sunt temporibus obcaecati animi eveniet
      odio culpa odit cupiditate neque quia.
    </div>
    <div class="col">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam culpa
      necessitatibus fugiat vitae esse quos enim pariatur magni rem mollitia
      ipsum deserunt deleniti inventore quidem labore odit earum accusamus eaque
      temporibus, assumenda porro dolore, maiores error! Commodi, praesentium?
      Culpa earum modi neque officiis voluptatibus tempora ratione architecto
      rem debitis libero ullam aliquid possimus quis provident, quaerat delectus
      officia deserunt ex repellendus quisquam alias nisi! Totam voluptate qui
      laborum neque voluptatem saepe quaerat quasi accusamus iure, sed
      molestias? Suscipit dignissimos fuga incidunt, vitae, ratione, iure
      eligendi sed assumenda libero aut sunt temporibus obcaecati animi eveniet
      odio culpa odit cupiditate neque quia.
    </div>
    <div class="col">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam culpa
      necessitatibus fugiat vitae esse quos enim pariatur magni rem mollitia
      ipsum deserunt deleniti inventore quidem labore odit earum accusamus eaque
      temporibus, assumenda porro dolore, maiores error! Commodi, praesentium?
      Culpa earum modi neque officiis voluptatibus tempora ratione architecto
      rem debitis libero ullam aliquid possimus quis provident, quaerat delectus
      officia deserunt ex repellendus quisquam alias nisi! Totam voluptate qui
      laborum neque voluptatem saepe quaerat quasi accusamus iure, sed
      molestias? Suscipit dignissimos fuga incidunt, vitae, ratione, iure
      eligendi sed assumenda libero aut sunt temporibus obcaecati animi eveniet
      odio culpa odit cupiditate neque quia.
    </div>
    <div class="col-5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam culpa
      necessitatibus fugiat vitae esse quos enim pariatur magni rem mollitia
      ipsum deserunt deleniti inventore quidem labore odit earum accusamus eaque
      temporibus, assumenda porro dolore, maiores error! Commodi, praesentium?
      Culpa earum modi neque officiis voluptatibus tempora ratione architecto
      rem debitis libero ullam aliquid possimus quis provident, quaerat delectus
      officia deserunt ex repellendus quisquam alias nisi! Totam voluptate qui
      laborum neque voluptatem saepe quaerat quasi accusamus iure, sed
      molestias? Suscipit dignissimos fuga incidunt, vitae, ratione, iure
      eligendi sed assumenda libero aut sunt temporibus obcaecati animi eveniet
      odio culpa odit cupiditate neque quia.
    </div>
  </div>
</div>
