<div class="container-fluid background-nokair footer">
  <div class="container">
    <div class="row m-0 mt-5">
      <div class="col-md-8 col-md-pull-4">
        <!-- <div class="row footer-manage-gap">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div id="footer-to1" class="footer-wrap-alllink">
              <div class="footer-sub-title">
                <a href="javascript:void(0);" class="opensearch-booking"
                  >Booking</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Booking/How-to-Book-and-Pay.aspx"
                  >How to Book and Pay</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Booking/QR-Payment.aspx"
                  >QR Payment</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Booking/How-to-Select-Seat.aspx"
                  >Seat Selection</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Booking/Where-we-fly.aspx"
                  >Where We Fly</a
                >
              </div>
              <div class="footer-desc">
                <a href="https://booking.nokair.com/en/flight-schedule"
                  >Flight Schedule</a
                >
              </div>
              <div class="footer-desc">
                <a href="https://booking.nokair.com/en/">Low Fare</a>
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Booking/Promotion.aspx"
                  >Promotion</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Booking/Seat-Types.aspx"
                  >Ticket Type</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div
              id="footer-to2"
              style="margin-right: 35px"
              class="footer-wrap-alllink"
            >
              <div class="footer-sub-title">Journey Planning</div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Journey-Planning/Check-In.aspx"
                  >Check-in</a
                >
              </div>
              <div class="footer-desc">
                <a href="/ManageBooking">Manage Booking</a>
              </div>
              <div class="footer-desc">
                <a href="https://booking.nokair.com/en/flight-status"
                  >Flight Status</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Journey-Planning/Baggage.aspx"
                  >Baggage Information</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/Travel-with-infant-or-Children.aspx"
                  >Travel with infant or children</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/Nok-Air-Cargo.aspx"
                  >Pet Carriage Service</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/Physically-Challenged-Passenger.aspx"
                  >Physically Challenged Passenger</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/Change-Travel-Itinerary.aspx"
                  >Change Travel Itinerary</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/Nok-Refund.aspx"
                  >Nok Refund</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/Nok-First.aspx"
                  >Nok First</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/Journey-Planning/Nok-Sure.aspx"
                  >Travel Insurance</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Booking/Where-we-fly/Flight-Service/Other-Convenience-Services/Nok-Car"
                  >Nok Car</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Journey-Planning/OtherServices.aspx"
                  >Other Services</a
                >
              </div>
            </div>
          </div>
          <div id="footer-wrapmove1" class="col-md-3 col-sm-6 col-xs-6">
            <div id="footer-move1" class="footer-wrap-alllink">
              <div class="footer-sub-title">About Us</div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/About-Nokair/Company-Information.aspx"
                  >Corporate Profile</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/About-Nokair/News.aspx"
                  >News</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/About-Nokair/Nok-Air-plane.aspx"
                  >Nok Aircraft</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/About-Nokair/Careers.aspx"
                  >Careers</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/About-Nokair/Internship.aspx"
                  >Internship</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/About-Nokair/Investor-relations.aspx"
                  >Investor relations</a
                >
              </div>
            </div>
            <div id="footer-move2" class="footer-wrap-alllink">
              <div class="footer-sub-title">In-flight Service</div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Service/Nok-Chuenjai-Nok-Chuanchim.aspx"
                  >Nok Cheun Jai and Nok Chuan-Chim</a
                >
              </div>
            </div>
          </div>
          <div id="footer-wrapmove2" class="col-md-3 col-sm-6 col-xs-6">
            <div id="footer-move3" class="footer-wrap-alllink">
              <div class="footer-sub-title">Nok Fan Club</div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/nok-fanclub/Member-Benefit.aspx"
                  >Member Benefits</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/nok-fanclub/Be-a-Member.aspx"
                  >Be a Member</a
                >
              </div>
              <div class="footer-desc">
                <a href="//content.nokair.com/en/nok-fanclub/Redeem-Point.aspx"
                  >Redeem Rewards</a
                >
              </div>
            </div>
            <div id="footer-move4" class="footer-wrap-alllink">
              <div class="footer-sub-title">Corporate Customer</div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Customer-Company/Travel-together.aspx"
                  >Group Booking</a
                >
              </div>
              <div class="footer-desc">
                <a href="//booking.nokair.com/en/ta">Travel Agent</a>
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Customer-Company/charterflight.aspx"
                  >Charter Flight Service</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Customer-Company/Corporate-customers.aspx"
                  >Corporate</a
                >
              </div>
              <div class="footer-desc">
                <a
                  href="//content.nokair.com/en/Customer-Company/Government-customers.aspx"
                  >Government</a
                >
              </div>
            </div>
            <div id="footer-move5" class="footer-wrap-alllink">
              <div class="footer-sub-title">
                <a href="//content.nokair.com/en/Contact-Nok.aspx"
                  >Contact Us</a
                >
              </div>

              <div class="footer-sub-title">
                <a href="//content.nokair.com/en/Nok-Mobile.aspx">Nok Mobile</a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div>
      <div>
        Lorem ipsum dolor sit.
        <!-- <a href="//content.nokair.com/en/Terms/terms-and-conditions.aspx"
          >Terms &amp; Conditions</a
        >
        |
        <a href="//content.nokair.com/en/Terms/Terms-of-use.aspx"
          >Terms of Use</a
        >
        |
        <a href="//content.nokair.com/en/Terms/Privacy-policy.aspx"
          >Privacy Policy</a
        >
        <span
          >&copy;2017 Nok Airlines Public Company Limited. All Right
          Reserved.</span
        > -->
      </div>
      <div>
        Lorem ipsum dolor sit.
        <!-- <a href="//content.nokair.com/en/Terms/terms-and-conditions.aspx"
          >Terms &amp; Conditions</a
        ><br />
        <a href="//content.nokair.com/en/Terms/Terms-of-use.aspx"
          >Terms of Use</a
        ><br />
        <a href="//content.nokair.com/en/Terms/Privacy-policy.aspx"
          >Privacy Policy</a
        ><br />
        <span
          >&copy;2017 Nok Airlines Public Company Limited. All Right
          Reserved.</span
        > -->
      </div>
      <div>Lorem ipsum dolor sit amet.</div>
    </div>
  </div>
</div>
