<div>
  <div class="p-2 row col">
    <div class="f-24 bold py-2">Seat Selection</div>
    <div class="col row">
      <div class="col-lg-4 col-12">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis id magnam
        repudiandae dicta, amet aliquid veritatis sunt error accusamus magni
        doloribus beatae non tenetur cum culpa tempora atque perspiciatis
        commodi officiis maiores eos sequi. Incidunt doloremque consectetur
        magnam laudantium architecto consequuntur et perspiciatis possimus, cum
        dolore corrupti quidem nesciunt ipsum dolorum. Quae, illo blanditiis?
        Nostrum iure, harum odio, praesentium similique quidem perferendis
        dolorem possimus, accusamus omnis ab vel sit repellat quam excepturi
        autem consequatur quo ratione non quibusdam? Exercitationem autem
        voluptatum minus non omnis rem odit eos et aliquam, soluta, velit
        dolorum suscipit id voluptatem culpa similique. Culpa, rerum sunt.
      </div>
      <div class="col-lg-8 col-12">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis id magnam
        repudiandae dicta, amet aliquid veritatis sunt error accusamus magni
        doloribus beatae non tenetur cum culpa tempora atque perspiciatis
        commodi officiis maiores eos sequi. Incidunt doloremque consectetur
        magnam laudantium architecto consequuntur et perspiciatis possimus, cum
        dolore corrupti quidem nesciunt ipsum dolorum. Quae, illo blanditiis?
        Nostrum iure, harum odio, praesentium similique quidem perferendis
        dolorem possimus, accusamus omnis ab vel sit repellat quam excepturi
        autem consequatur quo ratione non quibusdam? Exercitationem autem
        voluptatum minus non omnis rem odit eos et aliquam, soluta, velit
        dolorum suscipit id voluptatem culpa similique. Culpa, rerum sunt.
      </div>
    </div>
  </div>
</div>
